<div [ngClass]="{'pink-mode':pinkThemeSelected, 'purple': purpleThemeSelected,'deep-purple': deepPurpleThemeSelected, }"  >

  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button   mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="themeDropdown" aria-label="icon">
      <mat-icon>format_color_fill</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu #themeDropdown="matMenu"  >
    <mat-radio-group aria-label="Select an option" class="flex flex-col" (change)="switchTheme($event)" >
      <mat-radio-button value="pink">Pink & Blue-grey</mat-radio-button>
      <mat-radio-button value="purple">Purple & Green</mat-radio-button>
      <mat-radio-button value="deepPurple">Deep Purple & Amber</mat-radio-button>
    </mat-radio-group>
  </mat-menu>

  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>

</div>


<!-- [ngClass]="condition ? 'class1' : 'class2' " -->



